################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MoneyPlanning.Api/obj
/.vs
/MoneyPlanning.Api/bin/Debug/net6.0
